*{
	box-sizing: border-box;
	/* margin: 0;
	padding: 0; */
	font-family: sans-serif;
}
.container{
	border-radius: 20px;
	box-sizing: border-box;
    width: 30%;
    width: 100%;
    max-width: 1200px;
    display: grid;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.container{
    margin: 20px auto;   
	min-height: 90vh;
}
.budget-header{
	/* display: flex; */
	position: relative;
	left: 3rem;
	top: -0rem;
	margin-top: 90rem;
	background: linear-gradient(90deg, rgb(121, 115, 252) 0%, rgb(102, 178, 241) 100%);
	width: 100%;
	max-width: 65rem;
	margin: 7px;
	/* padding-top: 5rem; */
	height: 15rem;
	border-radius: 10px;
	line-height: 5pt;
	
	color: white;
}

.top-text{
	position: relative;
	top: -0rem;
	padding-top: 2rem;
	line-height: 3pt;
	/* gap: -5rem; */
	margin-left: 50px;
	/* padding-top: px; */
}
hgroup{
	margin-left: 3rem;
	padding-top: 2rem;
}
button.btn{
	height: 50px;
	border-radius: 100%;
	border: none;
	font-size: larger;
	margin-left: 55rem;
	background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
	color: white;
	border: 3px solid wheat;
	
}	

.btn{
	position: relative;
	top: -3rem;	
	width: 50px;

}

button.btn-2{
	/* background-color: red; */
	width: 7rem;
	height: 3rem;
	border: none;
	border-radius: 9rem;
	color: white;
	background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
	position: relative;
	top: -2rem;
	left: -1rem;
}
.budget-section{
	position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
	box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
	top: -0rem;
	bottom: 50rem;
	margin-top: 5rem;
	left: 7rem;
	background-color: white;
	width: 25rem;
	height: 15rem;
}
h3{
	margin-left: 2rem;
}
form{
	margin-left: 2rem;
}
input{
	margin: 7px;
	font-size: large;
	width: 95%;
	border-radius: 0.7rem;
	height: 3rem;
	border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	text-align: center;

	
}
button.form-btn{
	width: 9rem;
	height: 3rem;
	font-size: large;
	position: relative;
	top: 1rem;
	background:  rgb(121, 115, 252) 0%;
	color: white;
	border-radius: 9px;
	border: none;
}
.budget-amount{
	position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
	box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
	top: -15rem;
	left: 40rem;
	background-color: white;
	width: 25rem;
	height: 19rem;
}
.expense-group{
	display: flex;
	align-items: space-between;
	position: relative;
	left: 7rem;
	top: -13rem;
	background:  rgb(121, 115, 252) 0%;
	width: 78%;
	border-radius: 10px;
}
.total-budget{
	color: white;
	
}
.total-budget p{
	margin-left: 4rem;
	/* padding-top: -4rem; */
}
.expensis{
	margin-left: 14rem;
	color: white;
}
.expensis p{
	margin-left: 3.4rem;
}
.balance{
	margin-left: 19rem;
	color: white;
}
.balance p{
	margin-left: 3rem
}
.expense-list{
	display: flex;
	align-items: space-between;
	position: relative;
	left: 7rem;
	top: -11rem;
	box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
	width: 78%;
	border-radius: 10px;
	height: 15rem;
}
.style{
	/* display: flex; */
	/* align-items: flex-start; */
	background:  rgb(121, 115, 252) 0%;
	position: relative;
	top: 3.5rem;
	margin-left: -0.5rem;
	left: -8.5rem;
	width: 0.5rem;
	height: 2.5rem;
}
h2{
	margin-left: 1rem;
}
.groceries h3{
	margin-left: -7.5rem;
	padding-top: 0.5rem;
}
.groceries p{
	margin-top: -2.3rem;
	margin-left: 16rem;
}
/* .rent h3{
	margin-left: -7.5rem;
	padding-top: 9rem;
} */
.rent{
	position: relative;
	top: 4rem;
	left: -18rem;
}
.rent h3{
	position: relative;
	top: 1.5rem;
	margin-top: 5px;
	left: -9.5rem;
}
.rent p{
	position: relative;
	top: -0.7rem;
	left: 15.9rem;
}
.transport{
	position: relative;
	top: 8rem;
	left: -22.5rem;
}
.transport h3{
	position: relative;
	top: 7px;
	left: -9.3rem;
}
.transport p{
	position: relative;
	top: -1.8rem;
	left: 16rem;
}
i{
	position: relative;
	top: -2.3rem;
	left: 39rem;
}
.i-3 i{
	position: relative;
	/* padding: 5rem; */
	top: -4rem;
}
.material-icons{
	color:  rgb(121, 115, 252) 0%;

}
